<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 20px
        }
        h1,h2,h3 {
            font-size: 40px;
            font-weight: 500;
        }
        body {
            align-content: center;
            justify-items: center;
            display: grid;
            background-color: #56a676;
            height: 100vh;
            max-height: 100vh;
        }
        .container {
            align-content: center;
            justify-items: center;
            display: grid;
            background-color: white;
            width: max-content;
            padding: 5rem 3rem;
            border-radius: 5px;

            form {
                margin: 10px 0;
                align-content: center;
                justify-items: center;
                display: grid;
                gap: .5rem;
            }

            input {
                outline: none;
                height: 2rem;
                width: 20rem;
                padding: 5px 15px;
                border-radius: 5px;
                font-weight: 100;
                border: 1px solid#CACACA;
            }
            p{
                font-size: 15px;
            }
            a{
                font-size: 15px;
                color: #56a676;
            }
            button {
                padding: 10px 15px;
                width: 20rem;
                border: none;
                color: aliceblue;
                background-color: #478660;
                border-radius: 3px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <% if (status=="Password is Wrong") { %>
            <p style="color: red;"><%= status %></p>
        <% } %>
        <% if (status=="UserName is Wrong") { %>
            <p style="color: red;"><%= status %></p>
        <% } %>
        <h1>Login</h1>
       
        <form action="/login" method="post">
            <div>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <a>Forget password?</a>
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="/signup" style="display: inline;">Signup</a></p>
        </form>
    </div>
</body>
</html>