<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "poppins";
            font-weight: 400;
            font-size: 20px
        }
        h1,h2,h3 {
            font-size: 40px;
            font-weight: 500;
        }
        body {
            align-content: center;
            justify-items: center;
            display: grid;
            background-color: #56a676;
            height: 100vh;
            max-height: 100vh;
        }
        .container {
            align-content: center;
            justify-items: center;
            display: grid;
            background-color: white;
            width: max-content;
            padding: 1.5rem 3rem  ;
            
            border-radius: 15px;
            

            form {
                margin: 10px 0;
                align-content: center;
                justify-items: center;
                display: grid;
                gap: .5rem;
            }

            input {
                outline: none;
                height: 2rem;
                width: 20rem;
                padding: 5px 15px;
                border-radius: 5px;
                font-weight: 100;
                border: 1px solid#CACACA;
            }
            p{
                font-size: 15px;
            }
            a{
                font-size: 15px;
                color: #56a676;
            }
            button {
                padding: 10px 15px;
                width: 20rem;
                border: none;
                color: aliceblue;
                background-color: #478660;
                border-radius: 3px;
            }
            .show {
                /* Style the show password button here */
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: #478660;
                width: 10%;
                font-size: 15px;
            }
        }
       
  
     

    </style>
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        <form>
            <div>
                <input type="text" placeholder="Name" name="name"required >
            </div>
            <div>
                <input type="tel" placeholder="Mobile number" name="phone" pattern="[0-9]{10}" required >
            </div>
            <div>
                <input type="email" placeholder="Email"name="name" required >
            </div>
            <div style="display: flex;">

                <input style="width: 330px" type="password" placeholder="Password" name="password" id="password"  required>
                <button type="button" id="showPassword" class="show">Show</button>
                
           </div>
            <div>
                <input  style="width: 325px" type="password" placeholder="Confirm Password"  id="confirm" name="confirm" required >
                <button type="button" id="showconPassword" class="show">Show</button>
            </div>
            <button type="submit">Signup</button>
            <p>Already have an account? <a href="/" style="display: inline;">Loginin</a></p>
        </form>
    </div>


    <script>
        const passwordField = document.getElementById("password");
        const showPasswordButton = document.getElementById("showPassword");
        const confirmField = document.getElementById("confirm");
        const showConfirmdButton = document.getElementById("showconPassword");

        showPasswordButton.addEventListener("click", function() {
        if (passwordField.type === "password") {
            passwordField.type = "text";
            showPasswordButton.textContent = "Hide";
        } else {
            passwordField.type = "password";
            showPasswordButton.textContent = "Show";
        }
        });

        showConfirmdButton.addEventListener("click", function() {
        if (confirmField.type === "password") {
            confirmField.type = "text";
            showConfirmdButton.textContent = "Hide";
        } else {
            confirmField.type = "password";
            showConfirmdButton.textContent = "Show";
        }
        });

        
    </script>


</body>
</html>